$primary-color: #ac0022;//#333130;//#636363; //#5f5f5f;//#2b5581; //#0f3753; //#0C0C0C;
$secondary-color: #0f3753;
$accent-color: #333130; //#ecb3cc;
$empty-space-color: #fff;
$japan-red: #ac0022;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;700&display=swap');
